@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box; 
}

body {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Condensed", sans-serif;


}
/*loading page */

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./images/mainbg.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
 
}

/* Logo animation */
#logo-loader {
  width: 120px;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.2); }
}

/*backgroud */
.bg img{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  
}
/* head */
#header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  top: 0;
  left: 0;
 /* box-shadow: 1px 2px 10px rgba(0,0,0,0.5);*/
  background-color:rgba(226, 221, 221, 0.144);
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.726);
  z-index: 1000;
  
 
}
.logo img {
  height: 60px;
  width: 80px;
  margin-left: 10px;
}
  

/* links container*/
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
 }

 .burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
 }

 .burger div {

  background-color: rgb(255, 255, 255);
  width: 25px;
  height: 3px;
 }

 /* LINKS MENU */
.links {
  position: absolute;
  top: 100%;
  right: -100%;   
  height: 130px;  
  width: 100%;   
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  gap: 20px;
  transition: right 0.6s ease;
  z-index: 3001;  
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.726);
  background-color: transparent;
  backdrop-filter: blur(10px);
  border-top: 2px solid white;

}



.links a {
  color: white;
  text-decoration: none;
  font-size:15px;

  

  
}

.links.active {
  right: 0;
}
  

/* section 1*/
.first-section{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  
  padding: 10px;

 }

 #working-man{
  width: 35%;
  
 }






.heading1{
  font-size: 35px;
  width: 200px;
  color: white;
}

.apply {
  margin-top: 10px;
  width: 100px;

  border-radius: 20px;
  height: 35px;
  background-color:rgba(41, 21, 113, 1);
  border: none;
  color: white;
  font-weight: bold;
}
/* second section */
.second-section{
  height: 300px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  


}

.background-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
   
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /*background-color: rgba(36, 6, 207, 0.192);*/
 
  
}

.video-content {
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: relative;
  color: rgb(252, 252, 249);
  text-align: center;
  font-size: 18px;
  height: 80px;
  gap: 20px;
  
}

.video-buttons button {
  background-color: transparent;
  color: white;
  height: 35px;
  width: 100px;
  border-radius: 20px;
  border: 1px solid rgb(173, 160, 160);
  font-weight: bolder;
  backdrop-filter: blur(4px);
}

/*social media*/

.social-media{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 20px;
  align-items: center;
  
  
}

.social-media img{
  width: 40px;
  
}
/* third -section */
.third-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /*background-color: rgba(243, 238, 238, 0.616);*/
  
  justify-content: space-around;
  margin-top: 10px;
  margin-left: 10px;
  margin-right:10px;
  
  
  
}


.perst-container, .second-container, .third-container, .fourth-container,.fifth-container {
 width: 49%;
 border-color: bisque;
 overflow: hidden;
 border-radius: 50px;
}



.perst-container img, .second-container img, .third-container img,.fourth-container img, .fifth-container img{
  width: 100%;
  object-fit: cover;
}
.fourth-section {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-between;
  padding: 20px;
  
}

.location-info {
  text-align: center;
  margin-top: 15px;
  color: white;
}

#location {
 
  width: 50%;
  height: 50%;
}


.map {

width: 50%;
border-radius: 30px;
overflow: hidden;


}
.company-map {
width: 100%;
height: 100%;
object-fit: fill;
}

.footer {
  background-color: transparent;
  backdrop-filter: blur(20px);
  padding:40px;
  text-align: center;
  box-shadow: 1px 2px 10px rgba(0,0,0,0.5);
  color: rgba(255, 255, 255, 0.651);
  width: 100%;
 
}


/*about page*/

.about-first-section {
  padding: 10%;
  overflow-x: hidden;
}
 .about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color:transparent;
    border: 2px solid #95949c86;
    padding: 20px;
    box-shadow: 0px 10px 0px 5px rgba(193, 193, 204, 0.055);
}
#confused {
  border-radius: 60px;
  background-color: transparent;
  backdrop-filter: blur(20px);
}
.aboutus {
  font-weight: 900;
  font-size: 50px;
  color: white;
}
.about-second-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

 
}
.box{ 
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30%;
  height: 200px;
  overflow: hidden;
  word-break: break-all;
  gap: 5px;
  background-color: transparent;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(139, 135, 135, 0.144);
  color: white;
  
}

.box-title{
  text-align: center;
  font-size: 13px;
  background-color: rgba(185, 189, 194, 0.11);
  padding: 10px;
}

.about-list-para { 
  display: flex;
  flex-direction: column;
  gap: 5px;
  
  font-size: 8px;
  font-weight: light;
  padding:10px;
  text-align: justify;
  
}

.box ul{
  list-style-type: none;
}


/* trial */ 
